#Local information on current Vagrant status
.vagrant

#Test kitchen
.kitchen/
.kitchen.local.yml

#Secret key used to decrypt data bags - get a copy from someone
encrypted_data_bag_secret

#Cookbook directory is handled by Librarian
/cookbooks
/tmp

#Vagrant boxes made by VeeWee
*.box

data_bags/users/authorized_keys.tar.gz
