#Local information on current Vagrant status
.vagrant

#Secret key used to decrypt data bags - get a copy from someone
encrypted_data_bag_secret

#Cookbook directory is handled by Librarian
/cookbooks
/tmp

#Vagrant boxes made by VeeWee
*.box
